<template>
    <div class="smart-side-menu" :style="{'z-index':zIndex,'transition': 'left '+animationSpeed+'ms'}" :class="{left:position==='left',right:position==='right'}">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "smart-side-menu",
        props: {
            zIndex: {
                type: Number,
                default: 999,
            },
            position: {
                type: String,
                default: "right"
            },
            isMobileVer:{
                type: Boolean,
                default: false,
            },
            canOpen:{
                type:Boolean,
                default:true,
            },
            animationSpeed:{
                type:Number,
                default:400,
            },
            open:Number,
            close:Number,
        },
        data() {
            return {
                moveX: 0,
                lastClientX: 0,
                moveY: 0,
                lastClientY: 0,
                lastSecond: 0,
                speed: 0,
                speedClearInterval: null,
                sideMenuLeft: 100,
                beforeLeft: 100,

                disabled: false,
                lockDirectionCheck:false,
            }
        },
        created() {
            if(this.isMobileVer) {
                document.addEventListener("touchstart", this.down);
                document.addEventListener("touchend", this.up);
            }else {
                document.addEventListener("mousedown", this.down);
                document.addEventListener("mouseup", this.up);
            }
        },
        watch:{
            close(value){
                if(value){
                    this.closeAction()
                }
            },
            open(value){
                if(value){
                    this.openAction()
                }
            },
        },
        methods:{
            down(event) {
                if(!this.isMobileVer && event.which === 1 || this.isMobileVer) {//проверка на left mouse button или телефон
                    this.disabled = false;
                    this.lockDirectionCheck = false;
                    this.moveX = 0;
                    this.moveY = 0;
                    this.lastClientX = 0;
                    this.lastClientY = 0;
                    console.log("down", event);
                    if (this.isMobileVer) {
                        this.lastClientX = event.touches[0].clientX;
                        this.lastClientY = event.touches[0].clientY;
                        document.addEventListener("touchmove", this.move);
                    } else {
                        this.lastClientX = event.clientX;
                        this.lastClientY = event.clientY;
                        document.addEventListener("mousemove", this.move);
                    }
                    this.lastSecond = +new Date();
                    this.speed = 0;
                    let styleString = getComputedStyle(this.$el).left;
                    styleString = styleString.slice(0, styleString.length - 2);//Удаляем px
                    this.beforeLeft = Math.round(+styleString / window.innerWidth * 100);
                    if (Math.abs(this.beforeLeft) !== 100 && this.beforeLeft !== 0) {//если шторка в промежуточном состоянии(анимация открытия или закрытия)
                        this.lockDirectionCheck = true;
                        this.sideMenuLeft = this.beforeLeft;
                        this.$el.style.left = this.sideMenuLeft + "%";
                    }

                    this.speedClearInterval = setInterval(() => {
                        this.lastSecond = +new Date();
                        this.speed = 0;
                    }, 1000)
                }
            },

            move(event) {

                if(this.isMobileVer) {
                    if(!this.lockDirectionCheck) {//нужно лишь для определния направления, потом отключаем
                        this.moveY -= this.lastClientY - event.touches[0].clientY;
                        this.lastClientY = event.touches[0].clientY;
                    }
                    this.moveX -= this.lastClientX - event.touches[0].clientX;
                    this.speed += this.lastClientX - event.touches[0].clientX;
                    this.lastClientX = event.touches[0].clientX;

                }else{
                    if(!this.lockDirectionCheck) {//нужно лишь для определения направления, потом отключаем
                        this.moveY -= this.lastClientY - event.clientY;
                        this.lastClientY = event.clientY;
                    }
                    this.moveX -= this.lastClientX - event.clientX;
                    this.speed += this.lastClientX - event.clientX;
                    this.lastClientX = event.clientX;
                }
                if( !this.lockDirectionCheck && (Math.abs(this.moveX) >= 45 || Math.abs(this.moveY) >= 45) ){
                    if(Math.abs(this.moveY) > Math.abs(this.moveX) ){
                        this.disabled = true;
                    }
                    //следующие два сравнение не позволяют одновременно полу-открывать шторки
                    if(this.position === "right" && this.moveX >= 45 && this.beforeLeft === 100){
                        this.disabled = true;
                    }
                    if(this.position === "left" && this.moveX <= 45 && this.beforeLeft === -100){
                        this.disabled = true;
                    }
                    //следующие сравнения не позволяют одновременно открывать шторки, если одна из них открыта
                    if(this.position === "right" && this.beforeLeft === 100 && !this.canOpen){
                        this.disabled = true;
                    }
                    if(this.position === "left" && this.beforeLeft === -100 && !this.canOpen){
                        this.disabled = true;
                    }
                    this.lockDirectionCheck = true;
                }
                if(!this.disabled && Math.abs(this.moveX) >= 45 ) {
                    this.sideMenuLeft = this.beforeLeft + Math.round((this.moveX / window.innerWidth * 100));

                    if (this.sideMenuLeft <= 0 && this.position === "right") {
                        this.$el.style.left = "0%"
                    } else if (this.sideMenuLeft >= 0 && this.position === "left") {
                        this.$el.style.left = "0%"
                    } else {
                        this.$el.style.left = this.sideMenuLeft + "%";
                    }
                }


            },


            up() {

                if(!this.disabled && this.lockDirectionCheck) {
                    let now = +new Date();
                    let action = null;

                    if (this.isMobileVer) {
                        document.removeEventListener("touchmove", this.move);
                    } else {
                        document.removeEventListener("mousemove", this.move);
                    }
                    clearInterval(this.speedClearInterval);
                    let sub = (now - this.lastSecond) / 1000;
                    //автоматическое открыте, если шторка открыта более чем на 50%
                    if (this.sideMenuLeft <= 50 && this.position === "right") {
                        this.$el.classList.add("open");
                        action = "open";
                    }
                    if (this.sideMenuLeft >= -50 && this.position === "left") {
                        this.$el.classList.add("open");
                        action = "open";
                    }
                    //swipe left
                    if (this.speed / sub > 700) {
                        if (this.position === "right") {
                            this.$el.classList.add("open");
                            action = "open";
                        } else {
                            this.$el.classList.remove("open");
                            action = "close";
                        }
                    }
                    //swipe right
                    if (this.speed / sub < -700) {

                        if (this.position === "right") {
                            this.$el.classList.remove("open");
                            action = "close";
                        } else {
                            this.$el.classList.add("open");
                            action = "open";
                        }
                    }

                    this.$el.style.left = null;

                    if(typeof action === "string"){
                        if(action === "open")
                            this.$emit("open");
                        else
                            this.$emit("close")
                        setTimeout(this.sendAnimationEmits,this.animationSpeed + 50)//отправляем событие открытия или закрытия после анимации :like:
                    }
                }


            },
            sendAnimationEmits(){
                let styleString = getComputedStyle(this.$el).left;
                styleString = styleString.slice(0,styleString.length-2);//Удаляем px
                let left = Math.round(+styleString / window.innerWidth * 100);
                if(Math.abs(left) === 100){
                    this.$emit("hide");
                }
                if(left === 0){
                    this.$emit("show");
                }
            },

            openAction(){
                this.$el.classList.add("open");
                this.$emit("open");
                setTimeout(this.sendAnimationEmits,this.animationSpeed + 50)//отправляем событие открытия или закрытия после анимации :like:
            },
            closeAction(){
                this.$el.classList.remove("open");
                this.$emit("close");
                setTimeout(this.sendAnimationEmits,this.animationSpeed + 50)//отправляем событие открытия или закрытия после анимации :like:
            }
        }
    }
</script>

<style Lang="scss" scoped>
    .smart-side-menu {
        height: calc(var(--vh, 1vh) * 100);
        width: 100vw;
        background: cornflowerblue;
        position: absolute;
        top: 0;
        will-change: left;
    }

    .smart-side-menu.right {
        left: 100%;
    }

    .smart-side-menu.left{
        left: -100%;
    }

    .smart-side-menu.open{
        left: 0;
    }
</style>
